* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .btns-td {
    height: 35vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .del-btn {
    width: 50% !important;
  }
  .image-td {
    padding-top: 5em !important;
  }
  .img-td {
    width: 120% !important;
  }
  .table-td {
    height: 39vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .tbl-hd {
    width: inherit;
  }
  .tbl-th {
    width: 26.4%;
  }
  .btns-td {
    height: 30vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .del-btn {
    width: 35% !important;
  }
  .image-td {
    padding-top: 5em !important;
  }
  .img-td {
    width: 80% !important;
  }
  .table-td {
    height: 33vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .tbl-hd {
    width: inherit;
  }
  .tbl-th {
    width: 35.4%;
  }
  .btns-td {
    height: 20vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .del-btn {
    width: 30% !important;
  }
  .image-td {
    padding-top: 5em !important;
  }
  .img-td {
    width: 60% !important;
  }
  .table-td {
    height: 27vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .tbl-hd {
    width: inherit;
  }
  .tbl-th {
    width: 35.4%;
  }
  .btns-td {
    height: 20vh !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
  }
  .del-btn {
    width: 25% !important;
  }
  .image-td {
    padding-top: 5em !important;
  }
  .img-td {
    width: 60% !important;
  }
  .table-td {
    height: 30vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
